@font-face {
    font-family: 'Hashtag';
    src: url('res/Hashtag.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Hashtag', sans-serif;
}

h2 {
    font-family: 'Hashtag', sans-serif;
    font-size: 2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background: #9D47BF;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

.header-content h1 {
    font-size: 4em;
    margin-bottom: 0.2em;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

footer {
    background: #9D47BF;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

footer a {
    color: #f4f4f9;
    text-decoration: none;
}

footer a:hover {
    background: #f4f4f9;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.contact-buttons a {
    display: inline-block;
    padding: 0.7em 0.75em 0.3em 0.75em;
    background: white;
    color: #9D47BF;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.contact-buttons a img {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-buttons a:hover img {
    transform: scale(1.2);
}

main {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #9D47BF;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
}

section {
    margin-bottom: 2em;
}

ul {
    list-style: none;
    padding-left: 1em;
}

ul li {
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

#personal-info ul li::before {
    content: "";
}

ul li::before {
    content: "• ";
    color: #9D47BF;
}

.item h3 {
    color: #9D47BF;
    margin-bottom: 0.3em;
}

.item p {
    margin: 0;
    line-height: 1.5;
}

.item-box {
    display: flex;
    align-items: flex-start;
    background: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    gap: 1em;
}

.item-box:nth-child(odd) {
    flex-direction: row-reverse;
}

.project-image {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project-text {
    flex-grow: 1;
}