@font-face {
    font-family: 'Hashtag';
    src: url('res/Hashtag.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    position: relative;
    background: #9D47BF;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

.header-content h1 {
    font-family: 'Hashtag', sans-serif;
    font-size: 5em;
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

footer {
    background: #9D47BF;
    color: white;
    text-align: center;
    padding: 1.5em 0;
}

footer p {
    margin-top: 10px;
}

footer a {
    color: #f4f4f9;
    text-decoration: none;
    transition: color 0.3s, background 0.3s;
    border-radius: 5px;
    padding: 0.25em 0.5em;
}

footer a:hover {
    background: #f4f4f9;
    color: #9D47BF;
    border-radius: 5px;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.contact-buttons a {
    display: inline-block;
    padding: 0.7em 0.75em 0.3em 0.75em;
    background: white;
    color: #9D47BF;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.contact-buttons a img {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-buttons a:hover img {
    transform: scale(1.2);
}

main {
    padding: 2em;
    max-width: 900px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #9D47BF;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
}

section {
    margin-bottom: 2em;
}

ul {
    list-style: none;
    padding-left: 1em;
}

ul li {
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

#personal-info ul li::before {
    content: "";
}

ul li::before {
    content: "• ";
    color: #9D47BF;
}

.logo-item {
    display: flex;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    gap: 1em;
}

h3 {
    color: #9D47BF;
    margin-bottom: 0.3em;
}

.item p {
    margin: 0;
    line-height: 1.5;
}

.item-box {
    display: flex;
    align-items: flex-start;
    background: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    gap: 1em;
    transition: transform 0.3s, box-shadow 0.3s;
}

.item-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.project-image {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.project-text {
    flex-grow: 1;
}

.education-logo {
    max-width: 100px;
    height: auto;
    object-fit: contain;
    margin-right: 1em;
    border-radius: 5px;
}

.education-info {
    flex-grow: 1;
}

.language-button {
    display: inline-block;
    padding: 0.5em 1em;
    background: white;
    color: #9D47BF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 1em;
    transition: background 0.3s, color 0.3s;
}

.language-button:hover {
    background: #7c39a1;
    color: white;
}

.language-switch {
    position: absolute;
    top: 10px;
    right: 10px;
}

.ongoing-project {
    border-left: 5px solid #4CAF50;
    background-color: #f9fff9;
}

.ongoing-project a {
    color: #4CAF50;
}

.stopped-project {
    border-left: 5px solid #3f3f3f;
    background-color: #ffffff;
}

.stopped-project a {
    color: #3f3f3f;
}

.past-project {
    border-left: 5px solid #9D47BF;
    background-color: #f9f4ff;
}

.past-project a {
    color: #9D47BF;
}

#projects h3 {
    margin-top: 1.5em;
    color: #333;
    font-size: 1.5em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.3em;
}

.project-header {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: left;
    margin-bottom: 8px;
    gap: 8px;
}

.project-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.project-date {
    font-size: 0.7em;
    color: #555;
    font-weight: bold;
}

.project-image {
    width: 100%;
    height: auto;
    margin-top: 8px;
    border-radius: 4px;
}

.project-text {
    margin-top: 12px;
    width: 1px;
}

.tag-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    background-color: #cacaca;
    color: #000000;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

.project-logos {
    display: flex;
    gap: 10px;
}